{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Django Sales
{% endblock title %}

{% block content %}
  <h2>Django Sales App</h2>
  <form action="" method="POST">
    {% csrf_token %}
    {{form | crispy}}
    <button type="submit" class="btn btn-primary mt-3">Search</button>
  </form>
  <div class="mt-3">
    {% if sales_df %}
      {{sales_df | safe}}
      <br>
      {{positions_df | safe}}
      <br>
      {{merged_df | safe}}
      <br>
      {{df | safe}}
    {% else %}
      <p>No Data</p>
    {% endif %}
  </div>
  
{% endblock content %}