.error-box {
    border-color: #dc3545 !important;
}

.success-box {
    border-color: #198754 !important;
}

.dz {
    border-style: dashed;
    border-radius: 5px;
    border-color: #ddd;
    transition: 0.5s;
}

.dz:hover {
    background-color: #ddd;
}
